<div class="cart-wrapper">
  <div class="cart">
    <h3>Your Cart</h3>
    <div *ngIf="(cartItems$ | async)?.length; else empty">
      <div *ngFor="let item of cartItems$ | async" class="cart-item">
        <img [src]="item.product.images[0]" alt="{{ item.product.title }}" class="cart-thumb" />
        <span>{{ item.product.title }}</span>

        <span class="quantity-controls">
          <button class="decrease-btn" (click)="updateQuantity(item, -1)">
            -
          </button>
          {{ item.quantity }}
          <button class="increase-btn" (click)="updateQuantity(item, 1)">
            +
          </button>
        </span>

        <span>₹{{ item.product.price * item.quantity }}</span>
        <button class="remove-btn" (click)="removeItem(item)">Remove</button>
      </div>

      <hr />
      <ng-container *ngIf="cartItems$ | async as items">
        <strong class="cart-total">Total: ₹{{ getTotal(items) }}</strong>
      </ng-container>
    </div>
    <ng-template #empty>
      <p>Your cart is empty.</p>
    </ng-template>
  </div>
</div>
